<br />
<div class="booyah-box col-10 offset-1">
<h1>NorthPole Facts</h1>
<p>
<ul>
<li>From early October to early March, the North Pole experiences total darkness. That is why the Elves invented Christmas lights.</li>
<br />
<li>Sea ice acts like a mirror and helps reflect sunlight and heat back into the atmosphere.</li>
<br />
<li>Unlike Antarctica, there’s no land at the North Pole. Instead it’s all ice that’s floating on top of the Arctic Ocean. That's right Santa's village is afloat and helps keep Santa , the elves, and his reindeer stay hidden until Christmas eve.</li>
<br />
<li>The North Pole is warmest in July, awarm freeze of 32 degrees. The is why Frosty lives at Santa's vilage.</li>
<br />
<li>It might come as a shock, but even with temperatures with a high of just 32 degrees, the North Pole is not the coldest place on Earth. The South Pole is (in winter temperatures average -76 degrees F). Unlike the North Pole, the South Pole sits on top of a thick sheet of ice, which in turn sits on top of a piece of land — Antarctica. </li>
<br />
<li>This isn't the only place to see reindeer in the world; a reindeer herd in the U.K. inhabits the Cairngorm Mountains of northern Scotland. The E.L.V.E.S. Scientific Research  department has been studying their flight paterns to see if they can one day join Santa's Sleigh team.</li>
<br />
<li>E.L.V.E.S stands for Elf logistics, velocity, and Electrogenesis Science. This department studies the sciences of engineering of complex operations, speed of particles, and the production of electricity. </li>

</ul>
</P>
</div>