<br />
<div class="booyah-box col-10 offset-1">
  <h1>Santa's Favorite Recipes!</h1> 
  <p>
  <h3>Vanilla Bean Sugar Cookies</h3>
  <ul>
   <li>1/3 Cp Butter</li><li>3/4 Cp Granulated Sugar</li>
   <li>1/3 Cp Shortening</li><li>1 Tbsp Milk</li>
   <li>2 Cps Flour</li><li>1 Tsp Baking Powder</li>
   <li>1 Egg</li><li>1/8 Tsp Salt</li>
   <li>1 Real Vanilla Bean </li>
 </ul> 
 Combined butter, shortening, egg, milk, and vanilla together and set aside. Combine flour, granulated sugar, baking powder, and salt together and blend well. Add wet ingredients to dry ingredients and mix thoroughly. Chill dough for 3 hrs 
 Preheat oven to 375 degrees and bake for 7-8 minutes. Place balls approximately 2 inch think on ungreased cookie sheet. Sprinkle with sugar before baking unless you plan to ice your cookies.
 <hr>
 <h3>Butter Frosting</h3>
 <ul>
  <li>1/3 Cp Butter</li><li>4 1/2 Cp Powdered Sugar</li>
  <li>1/4 Cp Milk</li><li> 1 1/2 Tsp Vanilla</li>
  Add food coloring if you want to decorate!
 </ul>  
 <hr>
 <h3>Hot Cocoa</h3>
 <ul>
  <li>1 Cp Evaporated Milk</li><li>1/4 Cp Unsweetened Cocoa Powdered</li>
  <li>3 Cp Whole Milk</li><li> 1 Vanilla Bean or ½ Tsp Vanilla</li>
  <li>1/4 Cp of Sugar</li>
  Place all ingredients in a saucepan stiring so not to scortch the milk. Bring to Boil, then pour, top, and serve.
  Top with 12 Small Marshmallows, or 3 Large ones!
  Or even better top with Whip Cream, a Cinnamon stick, and a pinch of Cinnamon!
 </ul>                         
                              
 </p>
</div>